<p-card header="Advanced Card" subheader="Card subheader" [style]="{width:'600px'}">
    <ng-template>
        <img alt="Instagram Logo" src="assets/instagramlogo.jpg" />
    </ng-template>
    <p class="m-0">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, laudantium fuga? Impedit autem a in incidunt obcaecati aut nam consectetur quisquam nihil, delectus eius, alias itaque ducimus? Dolores, et accusantium.
    </p>
    <ng-template pTemplate="footer">
    </ng-template>
</p-card>