<p-card  [style]="{width:'600px'}" styleClass="login-form-card">
    <img class="logo-instagram" alt="Instagram Logo" src="https://jverma.github.io/instagram-motifs/images/instagram.jpg" />
    <p class="m-0">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, laudantium fuga? Impedit autem a in incidunt obcaecati aut nam consectetur quisquam nihil, delectus eius, alias itaque ducimus? Dolores, et accusantium.
    </p>
    <ng-template pTemplate="footer">
    </ng-template>
</p-card>