<footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <h3 class="footer-logo">Ali Can Yücel</h3>
        <p class="footer-description">Instagram Clone Projesi</p>
      </div>
      <div class="footer-middle">
        <h4>İletişim</h4>
        <ul>
          <li><a href="mailto:yucelalicandan@hotmail.com">Bana mail gönder</a></li>
          <li><a href="tel:+905416923675">WhatsApp</a></li>
          <li><a href="https://www.linkedin.com/in/ali-can-y%C3%BCcel-062b6517a/">Linkedin</a></li>
          <li><a href="https://github.com/alicanyucel">Github</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Ali Can Yücel Angular 16 Instagram Clone | Tüm Hakları Saklıdır.</p>
    </div>
  </footer>